body {
    background-color: aqua;
}

.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.board>div {
    border: 5px solid black;
    margin: 10vh 5vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-end;
}

.board>div>div {
    background-color: #f1f1f1;
    border: 1px solid darkblue;
    height: 5vh;
    margin: 1em auto;
}

.t1 {
    width: 50%;
}

.t2 {
    width: 70%;
}

.t3 {
    width: 90%;
}